<template>
  <div class="container">
    <CForm class="form" @submit.prevent="submitForm()">
      <CRow>
        <CCol sm="12">
          <CInput
            label="Name"
            placeholder="Enter product name"
            v-model="name"
          />
        </CCol>
      </CRow>
      <CRow>
        <CCol sm="12">
          <CInput
            label="Price"
            placeholder="1000"
            v-model="price"
          />
        </CCol>
      </CRow>
      <CRow>
        <CCol sm="12">
          <CInput
            label="Image URL"
            placeholder="https://example.image/url"
            v-model="image"
          />
        </CCol>
      </CRow>
      <CRow>
        <CCol sm="12">
          <CSelect
            label="Brand"
            placeholder="Brand name"
            :options="brandsOptions"
            :value.sync='brand'
          />
        </CCol>
      </CRow>
      <CRow>
        <CCol sm="12">
          <CTextarea
            label="Description"
            placeholder="Description..."
            rows="4"
            v-model="description"
          />
        </CCol>
      </CRow>
      <CRow class="mt-3">
        <CCol :sm="{ size: 4, offset: 4 }">
          <CButton
            type="submit"
            color="success"
            block
          >Add</CButton>
        </CCol>
      </CRow>
    </CForm>
  </div>
</template>

<script>
import { CForm, CRow, CCol, CInput, CTextarea, CSelect, CButton } from '@coreui/vue';

import api from '@/api'

export default {
  name: 'AddProductForm',
  components: { CForm, CRow, CCol, CInput, CTextarea, CSelect, CButton },
  data() {
    return {
      name: '',
      price: '',
      image: '',
      brand: '',
      description: '',
      brands: []
    }
  },
  computed: {
    brandsOptions() {
      return this.brands.map((el) => ({ value: el.id, label: el.name }))
    }
  },
  beforeMount() {
    api.get('/manufacturer').then((res) => {
      this.brands = res.data
    })
  },
  methods: {
    submitForm() {
      if (this.name && this.price && this.image && this.brand && this.description) {
        api.post('/product', {
          name: this.name,
          price: this.price,
          image: this.image,
          manufacturer_id: this.brand,
          description: this.description
        }).then((res) => console.log('RESPONSE', res))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .form {
    margin: 3rem auto 0;
    width: 90%;
    max-width: 400px;
  }
</style>