<template>
  <div class="container">
    <CCardBody>
      <CDataTable
        :items="items"
        :fields="fields"
        column-filter
        table-filter
        items-per-page-select
        :items-per-page="5"
        hover
        sorter
        pagination
      >
        <template #status="{item}">
          <td>
            <CBadge :color="getBadge(item.on_market)">
              {{item.on_market}}
            </CBadge>
          </td>
        </template>
        <template #show_details="{item, index}">
          <td class="py-2">
            <CButton
              color="primary"
              variant="outline"
              square
              size="sm"
              @click="toggleDetails(item, index)"
            >
              {{ Boolean(item._toggled) ? 'Hide' : 'Show' }}
            </CButton>
          </td>
        </template>
        <template #details="{item, index}">
          <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
            <CCardBody>
              <CMedia :aside-image-props="{ height: 120, width: 100, style: 'max-height: 100%; max-width: 100%', src: item.image }">
                <h4>
                  {{item.name}}
                </h4>
                <p class="text-muted"><b>Description:</b> {{item.description || 'Qwerty qwe sadef' }}</p>
                <CButton size="sm" color="danger" class="ml-1"
                  @click="deleteItem(index)"
                >
                  Delete
                </CButton>
              </CMedia>
            </CCardBody>
          </CCollapse>
        </template>
      </CDataTable>
    </CCardBody>
  </div>
</template>

<script>
import { CDataTable, CCardBody, CCollapse, CBadge, CButton, CMedia } from '@coreui/vue';

import api from '@/api';

const fields = [
  { key: 'name', _style:'min-width:200px' },
  { key: 'price', _style:'min-width:100px;' },
  { key: 'manufacturer_id', _style:'min-width:100px;' },
  'on_market',
  { 
    key: 'show_details', 
    label: '', 
    _style: 'width:1%', 
    sorter: false, 
    filter: false
  }
];

export default {
  name: 'ProductsTable',
  components: { CDataTable, CCardBody, CCollapse, CBadge, CButton, CMedia },
  data() {
    return {
      items: [],
      fields,
      details: [],
      collapseDuration: 0
    }
  },
  methods: {
    getBadge(status) {
      switch (status) {
        case '1': return 'success'
        case '0': return 'danger'
        default: return 'primary'
      }
    },
    toggleDetails(item, idx) {
      this.$set(this.items[idx], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    },
    deleteItem(idx) {
      this.$delete(this.items, idx)
    }
  },
  beforeMount() {
    api.get('/product').then((res) => {
      this.items = res.data
    })
  }
}
</script>

<style>

</style>