<template>
  <div id="app">
    <CNavbar expandable="md" type="dark" color="info">
      <CToggler in-navbar />
      <router-link to="/" class="rl">
        <CNavbarBrand>
          <img alt="Vue logo" src="./assets/logo.png"
            style="
              width: 64px;
              height: 64px;
              max-width: 100%;
              max-heigth: 100%
            "
          >
        </CNavbarBrand>
      </router-link>

      <CCollapse navbar>
        <CNavbarNav>
          <CNavItem>
            <router-link to="/products" class="rl">
              Table
            </router-link>
          </CNavItem>

          <CNavItem>
            <router-link to="/add-product" class="rl">
              Form
            </router-link>
          </CNavItem>
        </CNavbarNav>
      </CCollapse>
    </CNavbar>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <ProductsTable /> -->
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue';
import { CNavbar, CNavbarBrand, CNavbarNav, CNavItem, CToggler, CCollapse } from '@coreui/vue';

Vue.use(CNavbar);
Vue.use(CNavbarBrand);
Vue.use(CNavbarNav);
Vue.use(CNavItem);
Vue.use(CToggler);
Vue.use(CCollapse);

export default {
  name: 'App',
  components: { CNavbar, CNavbarBrand, CNavbarNav, CNavItem, CToggler, CCollapse }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
